<%- include('../layouts/header.ejs') -%>

<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="login-container card p-5 shadow-sm bg-light" style="max-width: 400px; width: 100%;">
        <h2 class="text-center mb-4">User Loginpage</h2>
        
        <% if(typeof message !== 'undefined'){ %>
            <div class="alert alert-danger">
                <%= message %>
            </div>
        <% } %>
        
        <form action="/" method="POST">
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password" required>
            </div>
            <div class="d-grid">
                <button type="submit" class="btn btn-success mt-4">Login</button>
            </div>
        </form>
        <p class="text-center mt-3">
            Don't have an account? <a href="/signup">Sign up here</a>.
        </p>
    </div>
</div>

<%- include('../layouts/footer.ejs') -%>